.blogCard{
    width: 329px;
    height: 247px;
    background: #1D1D1D;
    border: 0.5px solid rgba(255, 255, 255, 0.9);
    min-height: 15rem;
    position: relative;
    font-style: normal;
    font-weight: normal;
    color: #CBCBCB;
    font-weight: 300;
    padding: 10px;
    cursor: pointer;
    transition: 
        border-right 0.5s, 
        border-left 0.5s, 
        border-top 1s, 
        border-bottom 1s;
        margin-bottom: 15px;
}
.blogCard:hover{ 
    border: 1px solid #17ceeb;
}
.blogCard h1{
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 5px;
}
.blogCard time{
    font-size: 12px;
    line-height: 14px;
}
.blogCard h2{    
    font-size: 16px !important;
    line-height: 19px;
    margin-bottom: 13px;
    margin-top: 10px;
    font-weight: normal;
}
.blogCard div{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}