body {
    background-color: #1D1D1D;
}
h1, h2, h3, h4, p{
    color: #ffffff;
}
.post__content pre {
    background-color: #f8f9fb;
}
.post__content pre code{
    color: #383a42;
}
.card__description{    
    color: #ededed;
}