@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
    background-color: #1D1D1D;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1, h2, h3{
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
  line-height: 33px;
  letter-spacing: 0.05em;
  margin: 0;
}

p{
  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
}
.content{
  margin-top: 60px;
}
.main {
  padding: 20px 15px 60px 15px;
}


/*****PAGINA HOME******/

.introduction .btn-view-more{ 
  margin-left: 5px;
}
.btn-view-more{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #A1ECF7;
  margin-bottom: 10px;
}
.recent-posts{
  padding-bottom: 20px;
}

/***FOOTER****/
footer{
  text-align: center;
}
footer span,
footer a {
  margin-right: 10px;
}

.notFound{
  height: 80vh;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.notFound h2{
  font-weight: unset;
  font-size: 18px;
}
.notFound h2 a{
  text-decoration: underline;
  color: #A1ECF7;
}

/******Blog Post*******/
.post{
  padding: 10px;
  color: #ffffff;
}
.post__content img{
 width: 100%;
 height: auto;
}

/* .post__content p {
  color: #ffffff;
}
.post__content h1,
.post__content h2 {
  color: #ffffff;
} */
.post__content pre {
  display: block;
  padding: 10px;
  margin: 0 0 28px;
  font-size: 13px;
  line-height: 1.6;
  
  background-color: #f8f9fb;
  border: none;
  border-radius: 4px;
  -webkit-font-smoothing: initial;
}
.post__content pre code{
  white-space: pre-wrap;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
}

/****Cards****/

.card{
  display: block;
  width: 100%;
  max-height: 330px;
  background: #1D1D1D;
  border: 0.5px solid rgba(255, 255, 255, 0.9);
  position: relative;
  color: #CBCBCB;
  font-weight: 300;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.card:active{ 
  border: 1px solid #17ceeb;
}
.card__title{
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 5px;
  letter-spacing: -0.04px;
  line-height: 1.3em;
}
.card__time{
  font-size: 12px;
  letter-spacing: -0.04px;
  line-height: 1.3em;
}
.card__description{    
  font-size: 18px;
  margin: 15px 0;
  font-weight: normal;
  color: #ededed;
  letter-spacing: -0.04px;
  line-height: 1.3em;
}
.card__tags{
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
}